body{
    font-family: 'Paytone One', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul input{
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    padding: 10px 30px;
    width: 400px;
}
nav ul li{
    font-size: 25px;
    margin-right: 30px;
}
nav{
    margin: 10px 15%;
}
.product-banner-container{
    margin: 30px 12%;
}
.product-banner{
    background-color: #f1f1f1;
    border-radius: 20px;
}
.buy-btn{
    background-image: linear-gradient(#FF589f,#ff5898);
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    color: white;

}
